.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  height: 100px;
}

.w-left, .w-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .w-title {
    font-weight: bold;
    font-size: 14px;
    color: var(--text-color);
  }

  .w-couter {
    font-size: 28px;
    font-weight: 300;
  }

  .w-link {
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid var(--text-color);
  }

  .w-percentage {
    display: flex;
    align-items: center;
    font-size: 14px;

    &.w-positive {
      color: var(--bs-success);
    }

    &.w-negative {
      color: var(--bs-danger);
    }
  }

  .w-icon {
    font-size: 18px;
    padding: 5px;
    color: var(--text-color);
    border-radius: 5px;
    align-self: flex-end;
  }
}