:root {
  /* ===== Colors ===== */
  --body-color: #eae9ed;
  --sidebar-color: #ffffff;
  --sidebar-color-light: #ebebed;
  --primary-color: #2e294e;
  --primary-color-light: #575371;
  --secondary-color: #d7263d;
  --secondary-color-light: #e36777;
  --tertiary-color: #35605a;
  --tertiary-color-light: #718f8b;
  --quaternary-color: #4b4d5a;
  --quaternary-color-light: #81828b;
  --quinary-color: #bcbdc0;
  --quinary-color-light: #ebebed;
  --text-color: #4d4d4d;
  --invert-text-color: #FFF;
  --toggle-color: #cccccc;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --shadow-color-lg: rgba(0, 0, 0, 0.175);
  --shadow-color-sm: rgba(0, 0, 0, 0.075);

  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background-color: var(--body-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: var(--primary-color);
}

body {
  font-family: Kanit, sans-serif;
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0;
}

body.dark {
  --body-color: #18191A;
  --sidebar-color: #242526;
  --sidebar-color-light: #353738;
  --primary-color: #24203e;
  --primary-color-light: #4f4c64;
  --secondary-color: #961a2a;
  --secondary-color-light: #ab4754;
  --tertiary-color: #25433e;
  --tertiary-color-light: #506864;
  --quaternary-color: #34353e;
  --quaternary-color-light: #5c5d64;
  --quinary-color: #828486;
  --quinary-color-light: #8e9092;
  --text-color: #CCC;
  --invert-text-color: #4d4d4d;
  --toggle-color: #FFF;
  --shadow-color: rgba(255, 255, 255, 0.15);
  --shadow-color-lg: rgba(255, 255, 255, 0.175);
  --shadow-color-sm: rgba(255, 255, 255, 0.075);
  color: var(--text-color);
}

ul {
  padding: 0;
}

.content-body {
  padding: 1rem;
}

.shadow {
  box-shadow: 0 0.5rem 1rem var(--shadow-color) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem var(--shadow-color-sm) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem var(--shadow-color-lg) !important;
}

@font-face {
  font-family: Kanit;
  src: url(./fonts/Kanit-Regular.ttf);
}

@font-face {
  font-family: Kanit-Bold;
  src: url(./fonts/Kanit-Bold.ttf);
  font-weight: bold;
}